<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User id</title>
</head>
<body>

<p th:text="${'Name: ' + user.getName()}">VALUE</p>
<p th:text="${'Username: ' + user.getUsername()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Role: ' + user.rolesToString()}">VALUE</p>


<form th:method="DELETE" th:action="@{/templates/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>



<br/>
<form action="/logout">
  <input type="submit" class="btn btn-dark" value="LOGOUT">
</form>

</body>
</html>