<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>User id</title>
</head>
<body>
<h1>User info: </h1>
<br>
<p th:text="${'Name: ' + user.name}">VALUE</p>
<p th:text="${'Username: ' + user.getUsername()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Roles: ' + user.rolesToString()}">VALUE</p>
<form action="/logout">
    <input type="submit" class="btn btn-dark" value="LOGOUT">
</form>



</body>



</html>